@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');
html {
  position: relative;
  min-height: 100%;
}

body {
  overflow-x: hidden;
  background: #323b43;
  height: 100%;
  min-width: 768px;
}

.wrapper {
  margin: 20px;
  padding: 0px 12px 0 12px;
}

.card {
  border: none;
}

a {
  text-decoration: none;
  color: #20232a;
}

.card-body {
  padding: 1.5rem;
  background: #f5f6f8;
}

.external-event {
  cursor: move;
  margin: 10px 0;
  padding: 8px 10px;
  color: #fff;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.fc-header-toolbar {
  margin-top: 1.5em;
}

button:focus {
  outline: 0;
}

.fc-icon {
  font-size: 1em !important;
}

.fc-toolbar-title {
  color: #20232a;
}

.fc-event {
  border-radius: 2px;
  border: none;
  cursor: move;
  font-size: 0.8125rem;
  margin: 5px 7px;
  padding: 5px 5px;
  text-align: center;
}

.close {
  color: white;
}

.form-control {
  width: 100%;
  height: calc(1.5em + 0.9rem + 2px);
  padding: 0.45rem 0.9rem;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-clip: padding-box;
  border-radius: 0.2rem;
  outline: 0;
}

.save,
.save:hover,
.save:focus {
  background: #4aa1f3;
  border: 1px solid #4aa1f3;
}

.save:disabled {
  background: #414d59;
  border: 1px solid #414d59;
}
